:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: "Raleway", sans-serif;
  --color-primary: white;
  --color-secondary: grey;
  --color-tertiary: #000;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

body{
  background-color: black;
  color:var(--color-primary);
  font-family: "Raleway", sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#content{
  margin-left: 12rem;
  
}
.main{
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  transition: max-width 300ms ease-in;
}

.sidebar{
  top:0;
  height: 100%;
  background: #222;
  overflow: hidden;
  float:left;
  width:10rem;
  position: fixed;
}


p{
  color:var(--color-secondary);
}
.sidebar a {
  padding:0.5rem;
  display:block;
  color:var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.top-menu{
  top:0;
  left:-0;
  z-index: 2;
  width: 100%;
  position: fixed;
  color:gray;
  text-decoration: none;
  display: none;
  opacity: 0.90;
  background-color: black;
  transition: width 300ms ease-in;
}

.top-menu a{
  padding:1rem;
  display:block;
  color:grey;
  text-decoration: none;
  float:left;
  text-align: center;
  cursor: pointer;
}

.sidebar a:hover{
  background-color:darkgray;
  background-position: 0 100%;
}

hr{
  margin-bottom: 2em;
  margin-top: 0;
}

h1{
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h2{
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}



.multi-button {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 1rem 1rem;
}

button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 0.1em 0.1em;
  transition: flex-grow var(--duration) var(--ease);
}

button:hover,
button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);

  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}
button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

button:active {
  transform: translateY(var(--border-size));
}

#mymap { height: 20rem; margin: 2rem; }

canvas { background: #eee; }


/* Responsive */
@media only screen and (max-width:60rem) {

  #content {
    margin-left: 1rem;
  }
  h1{
    margin-top: 13rem;
  }
  .sidebar{
    display: none;
  }
  .top-menu{
    display: table;
  }
}


@media only screen and (max-width:359px) {

  #content {
    margin-left: 0;
  }
  h1{
    margin-top: 0.5rem;
  }
  .sidebar{
    display: none;
  }
  .top-menu{
    display: none;
  }
  canvas{
    display: none;
  }
  .main{
    margin:0;
  }
}

/* Animations */
.animate-zoom {animation:animatezoom 00.8s}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-opacity{animation:opac 0.8s}
@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{ animation:animatetop 0.8s }
@keyframes animatetop{from{top:-100%;opacity:0} to{top:0;opacity:1}}
.animate-right{ animation:animateright 0.8s }
@keyframes animateright{from{right:-100%;opacity:0} to{right:0;opacity:1}}
.animate-left{ animation:animateleft 0.8s }
@keyframes animateleft{from{left:-100%;opacity:0} to{left:0;opacity:1}}